//UPKEEPGARAGE color variables
$upkeepStyleBackground: #677891; //Component background
$upkeepStyleButtonBackground: #677891;
$upkeepStyleButtonBackground_HOVER: #83ADCF;
$upkeepStylePageBackground: #ffffff;

//UPKEEPGARAGE dimensions
$upkeepStyleContentMaxWidth: 1400px;