@(title: String, id: String)(panelContent: Html)

<div id="@id" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <h3>@title</h3>
    @panelContent
</div>