@import models.UserVehicle
@(userVehicle: List[UserVehicle],name: String)(implicit messages: Messages)
@addScripts = {
    $("#myGarageMenu").addClass("active");
}
@templates.main(messages("name"))(addScripts) {

  <h4>@name</h4>
  <ul class="accordion" data-accordion>
    @for((item, index) <- userVehicle.zipWithIndex) {
      <li class="accordion-navigation">
        <a href="#panel_@index">@item.name</a>
        <div id="panel_@index" class="content panel">
          <div id="mileage" class="panel">
            <h3>@messages("myGarage.table.mileage")</h3>
            @item.mileage
          </div>
          <div id="quantity" class="panel">
            <h3>@messages("myGarage.table.quantity")</h3>
            @item.quantity
          </div>
          <div id="actions" class="panel">
            <h3>@messages("myGarage.table.action")</h3>

          </div>
        </div>
      </li>
    }
  </ul>
  <a class="button small" id="addCar" data-reveal-id="addModal">
      <i class="fi-plus large"></i>
      @messages("myGarage.add")
  </a>
    @tags.modalPanel(messages("myGarage.add"), "addModal"){
        <di>
            Test
        </di>
    }
}